* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.nav-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.nav-container a {
	margin: 0 10px;
}
.active {
	color: greenyellow;
}
.content {
	text-align: center;
	margin: 10px auto;
}
.content-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content-content h3,
.navlink-flights {
	font-size: 15px;
	color: black;
	font-weight: 800;
	border: 1px solid black;
}
.content-header {
	margin: 10px;
}

.search_container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.grid-6 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	gap: 5px;
}
.grid-7 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	gap: 5px;
}
.grid-8 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	gap: 5px;
}
.grid-9 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	gap: 5px;
}

.seat {
	display: flex;
	background-color: rgba(128, 128, 128, 0.545);
	height: 50px;
	justify-content: center;
	align-items: center;
}

.seat:hover {
	background-color: rgba(85, 85, 85, 0.808);
}
